
/****************************************
*todo List
****************************************/
/*.wrap {
    width: 410px;
    margin: 20px auto;
}

.list-box {
    width: 410px;
    margin: 20px auto;

    li {
        margin: 3px 0;

        label {
            display: inline-block;
            width: 300px;
            text-overflow: ellipsis;
            overflow: hidden;
            word-break: keep-all;
            white-space: nowrap;
            vertical-align: middle;
        }
    }
}*/

